<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.ulearning.system.auth.dao.PermissionDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.system.entity.PermissionEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
        <result column="permission_source" jdbcType="VARCHAR" property="permissionSource"/>
        <result column="permission_group" jdbcType="VARCHAR" property="permissionGroup"/>
        <result column="permission_url" jdbcType="VARCHAR" property="permissionUrl"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="allParams">
            id,
            permission_name,
            permission_source,
            permission_group,
            permission_url,
            valid,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <!-- 查询所有权限source-->
    <select id="getSources" resultType="java.lang.String">
        select permission_source
        from u_permission
        where valid = 1
    </select>
    <!--插入权限记录-->
    <insert id="insert">
        insert into u_permission(permission_name, permission_source, permission_group, permission_url, memo, create_by,
                                 update_by)
        values (#{permissionName}, #{permissionSource}, #{permissionGroup}, #{permissionUrl}, #{memo}, #{createBy},
                #{updateBy})
    </insert>
    <!--查询所有的权限信息-->
    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="allParams"/>
        from u_permission
        where valid = 1
    </select>
    <!--根据权限码查询权限信息-->
    <select id="getByPermissionSource" resultMap="BaseResultMap">
        select
        <include refid="allParams"/>
        from u_permission
        where valid = 1
        AND permission_source = #{permissionSource}
    </select>
    <!--根据权限url查询权限信息-->
    <select id="getByPermissionUrl" resultMap="BaseResultMap">
        select
        <include refid="allParams"/>
        from u_permission
        where valid = 1
        AND permission_url = #{permissionUrl}
    </select>
    <!--更新有效位-->
    <update id="updateValidById">
        UPDATE u_permission
        SET valid     = #{valid},
            update_by = #{updateBy}
        WHERE id = #{id}
    </update>
    <!--更新权限-->
    <update id="update" parameterType="com.ky.ulearning.spi.system.dto.PermissionDto">
        UPDATE u_permission
        SET update_time = now()
        <if test="permissionName != null and permissionName != ''">
            , permission_name = #{permissionName}
        </if>
        <if test="permissionSource != null and permissionSource != ''">
            , permission_source = #{permissionSource}
        </if>
        <if test="permissionGroup != null and permissionGroup != ''">
            , permission_group = #{permissionGroup}
        </if>
        <if test="permissionUrl != null and permissionUrl != ''">
            , permission_url = #{permissionUrl}
        </if>
        <if test="memo != null and memo != ''">
            , memo = #{memo}
        </if>
        <if test="updateBy != null and updateBy != ''">
            , update_by = #{updateBy}
        </if>
        WHERE valid = 1
        AND id = #{id}
    </update>
</mapper>