<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.system.auth.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.system.entity.RoleEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_source" jdbcType="VARCHAR" property="roleSource"/>
        <result column="is_admin" jdbcType="BOOLEAN" property="isAdmin"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="All">
            id,
            role_name,
            role_source,
            is_admin,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="All"/>
        from u_role
        where valid = 1
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ky.ulearning.spi.system.dto.RoleDto"
            useGeneratedKeys="true">
        insert into u_role (role_name, role_source, is_admin,
                            `valid`, memo, create_time,
                            create_by, update_time, update_by)
        values (#{roleName,jdbcType=VARCHAR}, #{roleSource,jdbcType=VARCHAR}, #{isAdmin,jdbcType=BOOLEAN},
                1, #{memo,jdbcType=VARCHAR}, now(),
                #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR})
    </insert>
    <update id="updateById" parameterType="com.ky.ulearning.spi.system.dto.RoleDto">
        update u_role
        <set>
            update_time = now(),
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleSource != null and roleSource != ''">
                role_source = #{roleSource,jdbcType=VARCHAR},
            </if>
            <if test="isAdmin != null">
                is_admin = #{isAdmin,jdbcType=BOOLEAN},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where valid = 1
        AND id = #{id,jdbcType=BIGINT}
    </update>
    <!--分页查询角色列表-->
    <select id="listPage" resultMap="BaseResultMap">
        SELECT
        <include refid="All"/>
        FROM u_role
        WHERE valid = 1
        <if test="roleDto.roleName != null and roleDto.roleName != ''">
            AND role_name LIKE concat('%', #{roleDto.roleName}, '%')
        </if>
        <if test="roleDto.roleSource != null and roleDto.roleSource != ''">
            AND role_source LIKE concat('%', #{roleDto.roleSource}, '%')
        </if>
        <if test="roleDto.isAdmin != null">
            AND is_admin = #{roleDto.isAdmin}
        </if>
        <if test="roleDto.id != null">
            AND id = #{roleDto.id}
        </if>
        ORDER BY update_time DESC
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询总记录数-->
    <select id="countListPage" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM u_role
        WHERE valid = 1
        <if test="roleDto.roleName != null and roleDto.roleName != ''">
            AND role_name LIKE concat('%', #{roleDto.roleName}, '%')
        </if>
        <if test="roleDto.roleSource != null and roleDto.roleSource != ''">
            AND role_source LIKE concat('%', #{roleDto.roleSource}, '%')
        </if>
        <if test="roleDto.isAdmin != null">
            AND is_admin = #{roleDto.isAdmin}
        </if>
        <if test="roleDto.id != null">
            AND id = #{roleDto.id}
        </if>
    </select>
    <!--根据roleName查询-->
    <select id="getByRoleName" resultMap="BaseResultMap">
        select
        <include refid="All"/>
        from u_role
        where valid = 1
        AND role_name = #{roleName}
    </select>
    <!--根据roleSource查询-->
    <select id="getByRoleSource" resultMap="BaseResultMap">
        select
        <include refid="All"/>
        from u_role
        where valid = 1
        AND role_source = #{roleSource}
    </select>
    <!--更新记录的有效位-->
    <update id="updateValidById">
        UPDATE u_role
        SET valid       = #{valid},
            update_by   = #{updateBy},
            update_time = now()
        WHERE id = #{id}
    </update>
    <!--查询所有角色集合-->
    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="All"/>
        FROM u_role
        WHERE valid = 1
    </select>
</mapper>