<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.system.auth.dao.TeacherRoleDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.system.entity.TeacherRoleEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tea_id" jdbcType="BIGINT" property="teaId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="All">
            id,
            tea_id,
            role_id,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="All"/>
        from u_teacher_role
        where valid = 1
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from u_teacher_role
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.ky.ulearning.spi.system.entity.TeacherRoleEntity" useGeneratedKeys="true">
        insert into u_teacher_role (tea_id, role_id, `valid`,
                                    memo, create_time, create_by,
                                    update_time, update_by)
        values (#{teaId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, 1,
                #{memo,jdbcType=VARCHAR}, now(), #{createBy,jdbcType=VARCHAR},
                now(), #{updateBy,jdbcType=VARCHAR})
    </insert>
    <update id="updateById" parameterType="com.ky.ulearning.spi.system.entity.TeacherRoleEntity">
        update u_teacher_role
        <set>
            update_time = now(),
            <if test="teaId != null">
                tea_id = #{teaId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="valid != null">
                `valid` = #{valid,jdbcType=BOOLEAN},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--根据教师id获取角色集合-->
    <select id="getRoleByTeaId"
            resultMap="com.ky.ulearning.system.auth.dao.RoleDao.BaseResultMap">
        SELECT ur.id,
               ur.role_name,
               ur.role_source,
               ur.is_admin,
               ur.valid,
               ur.memo,
               ur.create_time,
               ur.create_by,
               ur.update_time,
               ur.update_by
        FROM u_teacher_role utr
                 LEFT JOIN u_role ur ON ur.valid = 1 AND utr.role_id = ur.id
        WHERE utr.valid = 1
          AND utr.tea_id = #{teaId}
    </select>
</mapper>