<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.ulearning.teacher.dao.CourseDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.system.entity.CourseEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="course_number" jdbcType="VARCHAR" property="courseNumber"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_credit" jdbcType="SMALLINT" property="courseCredit"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <resultMap id="CourseVoResultMap" type="com.ky.ulearning.spi.system.vo.CourseVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="course_number" jdbcType="VARCHAR" property="courseNumber"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_credit" jdbcType="SMALLINT" property="courseCredit"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            course_number,
            course_name,
            course_credit,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <sql id="vo">
            id,
            course_number,
            course_name,
            course_credit
    </sql>
    <!--查询所有课程信息-->
    <select id="getAllVo" resultMap="CourseVoResultMap">
        SELECT
        <include refid="vo"/>
        FROM u_course
        WHERE valid = 1
    </select>
    <!--根据id获取课程对象-->
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_course
        where valid = 1
        AND id = #{id,jdbcType=BIGINT}
    </select>
</mapper>