<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.teacher.dao.ExaminationResultDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.student.entity.ExaminationResultEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_id" jdbcType="BIGINT" property="questionId"/>
        <result column="examining_id" jdbcType="BIGINT" property="examiningId"/>
        <result column="student_answer" jdbcType="VARCHAR" property="studentAnswer"/>
        <result column="student_score" jdbcType="FLOAT" property="studentScore"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <resultMap id="ExaminationResultDtoMap" type="com.ky.ulearning.spi.student.dto.ExaminationResultDto">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_id" jdbcType="BIGINT" property="questionId"/>
        <result column="examining_id" jdbcType="BIGINT" property="examiningId"/>
        <result column="student_answer" jdbcType="VARCHAR" property="studentAnswer"/>
        <result column="student_score" jdbcType="FLOAT" property="studentScore"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>

        <result column="question_key" jdbcType="VARCHAR" property="questionKey"/>
        <result column="question_type" jdbcType="SMALLINT" property="questionType"/>
    </resultMap>

    <resultMap id="CourseQuestionDetailVoMap" type="com.ky.ulearning.spi.teacher.vo.CourseQuestionDetailVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_text" jdbcType="VARCHAR" property="questionText"/>
        <result column="question_URL" jdbcType="VARCHAR" property="questionUrl"/>
        <result column="question_type" jdbcType="SMALLINT" property="questionType"/>
        <result column="question_option" jdbcType="VARCHAR" property="questionOption"/>
        <result column="question_difficulty" jdbcType="SMALLINT" property="questionDifficulty"/>
        <result column="question_knowledge" jdbcType="VARCHAR" property="questionKnowledge"/>

        <result column="student_answer" jdbcType="VARCHAR" property="studentAnswer"/>
        <result column="question_key" jdbcType="VARCHAR" property="questionKey"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            question_id,
            examining_id,
            student_answer,
            student_score,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <!--根据学生测试id查询所有课程试题-->
    <select id="getCourseQuestionDetailVoByExaminingId" resultMap="CourseQuestionDetailVoMap">
        SELECT ucq.id,
               ucq.question_text,
               ucq.question_URL,
               ucq.question_type,
               ucq.question_option,
               ucq.question_difficulty,
               ucq.question_knowledge,
               ucq.question_key,
               uer.student_answer
        FROM u_examination_result uer
                 INNER JOIN u_course_question ucq ON ucq.valid = 1 AND uer.question_id = ucq.id
        WHERE uer.valid = 1
          AND examining_id = #{examiningId}
    </select>
    <!--根据学生测试id查询所有测试结果-->
    <select id="getByExaminingId" resultMap="ExaminationResultDtoMap">
        SELECT uer.id,
               uer.question_id,
               uer.examining_id,
               uer.student_answer,
               uer.student_score,
               uer.valid,
               uer.memo,
               uer.create_time,
               uer.create_by,
               uer.update_time,
               uer.update_by,
               ucq.question_type
        FROM u_examination_result uer
                 LEFT JOIN u_course_question ucq ON uer.question_id = ucq.id AND ucq.valid = 1
        WHERE uer.valid = 1
          AND uer.examining_id = #{examiningId}
    </select>
</mapper>
