<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.teacher.dao.ExperimentResultDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.student.entity.ExperimentResultEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="experiment_id" jdbcType="BIGINT" property="experimentId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="experiment_commit_state" jdbcType="BOOLEAN" property="experimentCommitState"/>
        <result column="experiment_commit_time" jdbcType="TIMESTAMP" property="experimentCommitTime"/>
        <result column="experiment_result" jdbcType="VARCHAR" property="experimentResult"/>
        <result column="experiment_URL" jdbcType="VARCHAR" property="experimentUrl"/>
        <result column="experiment_score" jdbcType="FLOAT" property="experimentScore"/>
        <result column="experiment_advice" jdbcType="VARCHAR" property="experimentAdvice"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="experiment_attachment_name" jdbcType="VARCHAR" property="experimentAttachmentName"/>
        <result column="experiment_shared" jdbcType="BOOLEAN" property="experimentShared"/>
    </resultMap>
    <resultMap id="ExperimentResultDtoMap" type="com.ky.ulearning.spi.student.dto.ExperimentResultDto">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="experiment_id" jdbcType="BIGINT" property="experimentId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="experiment_commit_state" jdbcType="BOOLEAN" property="experimentCommitState"/>
        <result column="experiment_commit_time" jdbcType="TIMESTAMP" property="experimentCommitTime"/>
        <result column="experiment_result" jdbcType="VARCHAR" property="experimentResult"/>
        <result column="experiment_URL" jdbcType="VARCHAR" property="experimentUrl"/>
        <result column="experiment_score" jdbcType="FLOAT" property="experimentScore"/>
        <result column="experiment_advice" jdbcType="VARCHAR" property="experimentAdvice"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="experiment_attachment_name" jdbcType="VARCHAR" property="experimentAttachmentName"/>
        <result column="experiment_shared" jdbcType="BOOLEAN" property="experimentShared"/>

        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="stu_number" jdbcType="VARCHAR" property="stuNumber"/>
        <result column="experiment_title" jdbcType="VARCHAR" property="experimentTitle"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            experiment_id,
            stu_id,
            experiment_commit_state,
            experiment_commit_time,
            experiment_result,
            experiment_URL,
            experiment_score,
            experiment_advice,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by,
            experiment_attachment_name,
            experiment_shared
    </sql>
    <select id="getById" parameterType="java.lang.Long" resultMap="ExperimentResultDtoMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_experiment_result
        WHERE valid =1
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <update id="update" parameterType="com.ky.ulearning.spi.student.entity.ExperimentResultEntity">
        UPDATE u_experiment_result
        <set>
            update_time = now(),
            <if test="experimentScore != null">
                experiment_score = #{experimentScore,jdbcType=FLOAT},
            </if>
            <if test="experimentAdvice != null">
                experiment_advice = #{experimentAdvice,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="experimentShared != null">
                experiment_shared = #{experimentShared,jdbcType=BOOLEAN},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <!--根据实验id和学生id查询实验结果-->
    <select id="getByExperimentIdAndStuId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_experiment_result
        WHERE valid = 1
        AND stu_id = #{stuId}
        AND experiment_id = #{experimentId}
    </select>
    <!--分页查询实验结果-->
    <select id="listPage" resultMap="ExperimentResultDtoMap">
        SELECT
        uer.id, uer.experiment_id, uer.stu_id, uer.experiment_commit_state, uer.experiment_commit_time,
        uer.experiment_result, uer.experiment_URL, uer.experiment_score, uer.experiment_advice, uer.valid, uer.memo,
        uer.create_time, uer.create_by, uer.update_time, uer.update_by, uer.experiment_attachment_name,
        uer.experiment_shared, us.stu_number, us.stu_name, utte.experiment_title
        FROM u_experiment_result uer
        INNER JOIN u_student us ON us.valid = 1 AND uer.stu_id = us.id
        INNER JOIN u_teaching_task_experiment utte ON uer.experiment_id = utte.id AND utte.valid = 1
        WHERE uer.valid = 1
        AND uer.experiment_id = #{experimentResultDto.experimentId}
        <if test="experimentResultDto.stuId != null">
            AND uer.stu_id = #{experimentResultDto.stuId}
        </if>
        <if test="experimentResultDto.experimentCommitTime != null">
            AND DATE(uer.experiment_commit_time) = #{experimentResultDto.experimentCommitTime}
        </if>
        <if test="experimentResultDto.experimentResult != null and experimentResultDto.experimentResult != ''">
            AND uer.experiment_result LIKE CONCAT('%', #{experimentResultDto.experimentResult} , '%')
        </if>
        <if test="experimentResultDto.experimentScore != null">
            AND uer.experiment_score = #{experimentResultDto.experimentScore}
        </if>
        <if test="experimentResultDto.experimentAdvice != null and experimentResultDto.experimentAdvice != ''">
            AND uer.experiment_advice LIKE CONCAT('%', #{experimentResultDto.experimentAdvice} , '%')
        </if>
        <if test="experimentResultDto.experimentAttachmentName != null and experimentResultDto.experimentAttachmentName != ''">
            AND uer.experiment_attachment_name LIKE CONCAT('%', #{experimentResultDto.experimentAttachmentName} , '%')
        </if>
        <if test="experimentResultDto.experimentShared != null">
            AND uer.experiment_shared = #{experimentResultDto.experimentShared}
        </if>
        <if test="experimentResultDto.stuName != null and experimentResultDto.stuName != ''">
            AND us.stu_name LIKE CONCAT('%', #{experimentResultDto.stuName}, '%')
        </if>
        <if test="experimentResultDto.stuNumber != null and experimentResultDto.stuNumber != ''">
            AND us.stu_number LIKE CONCAT('%', #{experimentResultDto.stuNumber}, '%')
        </if>
        <if test="experimentResultDto.experimentTitle != null and experimentResultDto.experimentTitle != ''">
            AND utte.experiment_title LIKE concat('%', #{experimentResultDto.experimentTitle}, '%')
        </if>
        <if test="experimentResultDto.isCorrected != null and experimentResultDto.isCorrected == true">
            AND ((uer.experiment_score IS NOT NULL AND uer.experiment_score != '')
            OR (uer.experiment_advice IS NOT NULL AND uer.experiment_advice != ''))
        </if>
        <if test="experimentResultDto.isCorrected != null and experimentResultDto.isCorrected == false">
            AND ((uer.experiment_score IS NULL OR uer.experiment_score = '')
            AND (uer.experiment_advice IS NULL OR uer.experiment_advice = ''))
        </if>
        ORDER BY uer.experiment_commit_time ASC
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询实验结果 - 总记录数-->
    <select id="countListPage" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM u_experiment_result uer
        INNER JOIN u_student us ON us.valid = 1 AND uer.stu_id = us.id
        INNER JOIN u_teaching_task_experiment utte ON uer.experiment_id = utte.id AND utte.valid = 1
        WHERE uer.valid = 1
        AND uer.experiment_id = #{experimentResultDto.experimentId}
        <if test="experimentResultDto.stuId != null">
            AND uer.stu_id = #{experimentResultDto.stuId}
        </if>
        <if test="experimentResultDto.experimentCommitTime != null">
            AND DATE(uer.experiment_commit_time) = #{experimentResultDto.experimentCommitTime}
        </if>
        <if test="experimentResultDto.experimentResult != null and experimentResultDto.experimentResult != ''">
            AND uer.experiment_result LIKE CONCAT('%', #{experimentResultDto.experimentResult} , '%')
        </if>
        <if test="experimentResultDto.experimentScore != null">
            AND uer.experiment_score = #{experimentResultDto.experimentScore}
        </if>
        <if test="experimentResultDto.experimentAdvice != null and experimentResultDto.experimentAdvice != ''">
            AND uer.experiment_advice LIKE CONCAT('%', #{experimentResultDto.experimentAdvice} , '%')
        </if>
        <if test="experimentResultDto.experimentAttachmentName != null and experimentResultDto.experimentAttachmentName != ''">
            AND uer.experiment_attachment_name LIKE CONCAT('%', #{experimentResultDto.experimentAttachmentName} , '%')
        </if>
        <if test="experimentResultDto.experimentShared != null">
            AND uer.experiment_shared = #{experimentResultDto.experimentShared}
        </if>
        <if test="experimentResultDto.stuName != null and experimentResultDto.stuName != ''">
            AND us.stu_name LIKE CONCAT('%', #{experimentResultDto.stuName}, '%')
        </if>
        <if test="experimentResultDto.stuNumber != null and experimentResultDto.stuNumber != ''">
            AND us.stu_number LIKE CONCAT('%', #{experimentResultDto.stuNumber}, '%')
        </if>
        <if test="experimentResultDto.experimentTitle != null and experimentResultDto.experimentTitle != ''">
            AND utte.experiment_title LIKE concat('%', #{experimentResultDto.experimentTitle}, '%')
        </if>
        <if test="experimentResultDto.isCorrected != null">
            AND ((uer.experiment_score IS NOT NULL AND uer.experiment_score != '')
            OR (uer.experiment_advice IS NOT NULL AND uer.experiment_advice != ''))
        </if>
    </select>
    <!--更新分享-->
    <update id="updateSharedById">
        UPDATE u_experiment_result
        SET update_time       = now(),
            update_by         = #{username},
            experiment_shared = #{experimentShared}
        WHERE id = #{id}
          AND valid = 1
    </update>
</mapper>
