<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.teacher.dao.StudentExaminationTaskDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.student.entity.StudentExaminationTaskEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="examination_task_id" jdbcType="BIGINT" property="examinationTaskId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="examining_hostIP" jdbcType="VARCHAR" property="examiningHostIp"/>
        <result column="examining_login_time" jdbcType="TIMESTAMP" property="examiningLoginTime"/>
        <result column="examining_remain_time" jdbcType="SMALLINT" property="examiningRemainTime"/>
        <result column="examining_state" jdbcType="SMALLINT" property="examiningState"/>
        <result column="examining_state_switch_time" jdbcType="TIMESTAMP" property="examiningStateSwitchTime"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <resultMap id="StudentExaminationTaskDtoMap" type="com.ky.ulearning.spi.student.dto.StudentExaminationTaskDto">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="examination_task_id" jdbcType="BIGINT" property="examinationTaskId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="examining_hostIP" jdbcType="VARCHAR" property="examiningHostIp"/>
        <result column="examining_login_time" jdbcType="TIMESTAMP" property="examiningLoginTime"/>
        <result column="examining_remain_time" jdbcType="SMALLINT" property="examiningRemainTime"/>
        <result column="examining_state" jdbcType="SMALLINT" property="examiningState"/>
        <result column="examining_state_switch_time" jdbcType="TIMESTAMP" property="examiningStateSwitchTime"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>

        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="stu_number" jdbcType="VARCHAR" property="stuNumber"/>
        <result column="stu_gender" jdbcType="VARCHAR" property="stuGender"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            examination_task_id,
            stu_id,
            examining_hostIP,
            examining_login_time,
            examining_remain_time,
            examining_state,
            examining_state_switch_time,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <!--分页查询学生测试-->
    <select id="listPage" resultMap="StudentExaminationTaskDtoMap">
        SELECT uset.id, uset.examination_task_id, uset.stu_id, uset.examining_hostIP, uset.examining_login_time,
        uset.examining_remain_time, uset.examining_state, uset.examining_state_switch_time, uset.valid, uset.memo,
        uset.create_time, uset.create_by, uset.update_time, uset.update_by,
        us.stu_name,us.stu_number, us.stu_gender
        FROM u_student_examination_task uset
        INNER JOIN u_student us ON uset.stu_id = us.id AND us.valid = 1
        WHERE uset.valid = 1
        AND uset.examination_task_id = #{studentExaminationTaskDto.examinationTaskId}
        <if test="studentExaminationTaskDto.examiningHostIp != null and studentExaminationTaskDto.examiningHostIp != ''">
            AND examining_hostIP LIKE concat('%', #{studentExaminationTaskDto.examiningHostIp}, '%')
        </if>
        <if test="studentExaminationTaskDto.examiningLoginTime != null">
            AND DATE(examining_login_time) = #{studentExaminationTaskDto.examiningLoginTime}
        </if>
        <if test="studentExaminationTaskDto.examiningRemainTime != null">
            AND DATE(examining_remain_time) = #{studentExaminationTaskDto.examiningRemainTime}
        </if>
        <if test="studentExaminationTaskDto.examiningState != null">
            AND examining_state = #{studentExaminationTaskDto.examiningState}
        </if>
        <if test="studentExaminationTaskDto.examiningStateSwitchTime != null">
            AND examining_state_switch_time = #{studentExaminationTaskDto.examiningStateSwitchTime}
        </if>
        <if test="studentExaminationTaskDto.stuNumber != null and studentExaminationTaskDto.stuNumber != ''">
            AND stu_number LIKE concat('%', #{studentExaminationTaskDto.stuNumber}, '%')
        </if>
        <if test="studentExaminationTaskDto.stuName != null and studentExaminationTaskDto.stuName != ''">
            AND stu_name LIKE concat('%', #{studentExaminationTaskDto.stuName}, '%')
        </if>
        ORDER BY examining_state ASC
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询学生测试 - 总记录数-->
    <select id="countListPage" resultType="java.lang.Integer">
        SELECT count(1)
        FROM u_student_examination_task uset
        INNER JOIN u_student us ON uset.stu_id = us.id AND us.valid = 1
        WHERE uset.valid = 1
        AND uset.examination_task_id = #{studentExaminationTaskDto.examinationTaskId}
        <if test="studentExaminationTaskDto.examiningHostIp != null and studentExaminationTaskDto.examiningHostIp != ''">
            AND examining_hostIP LIKE concat('%', #{studentExaminationTaskDto.examiningHostIp}, '%')
        </if>
        <if test="studentExaminationTaskDto.examiningLoginTime != null">
            AND DATE(examining_login_time) = #{studentExaminationTaskDto.examiningLoginTime}
        </if>
        <if test="studentExaminationTaskDto.examiningRemainTime != null">
            AND DATE(examining_remain_time) = #{studentExaminationTaskDto.examiningRemainTime}
        </if>
        <if test="studentExaminationTaskDto.examiningState != null">
            AND examining_state = #{studentExaminationTaskDto.examiningState}
        </if>
        <if test="studentExaminationTaskDto.examiningStateSwitchTime != null">
            AND examining_state_switch_time = #{studentExaminationTaskDto.examiningStateSwitchTime}
        </if>
        <if test="studentExaminationTaskDto.stuNumber != null and studentExaminationTaskDto.stuNumber != ''">
            AND stu_number LIKE concat('%', #{studentExaminationTaskDto.stuNumber}, '%')
        </if>
        <if test="studentExaminationTaskDto.stuName != null and studentExaminationTaskDto.stuName != ''">
            AND stu_name LIKE concat('%', #{studentExaminationTaskDto.stuName}, '%')
        </if>
    </select>
    <!--根据id查询学生测试信息-->
    <select id="getById" resultMap="StudentExaminationTaskDtoMap">
        SELECT uset.id,
               uset.examination_task_id,
               uset.stu_id,
               uset.examining_hostIP,
               uset.examining_login_time,
               uset.examining_remain_time,
               uset.examining_state,
               uset.examining_state_switch_time,
               uset.valid,
               uset.memo,
               uset.create_time,
               uset.create_by,
               uset.update_time,
               uset.update_by,
               us.stu_name,
               us.stu_number
        FROM u_student_examination_task uset
                 INNER JOIN u_student us ON uset.stu_id = us.id AND us.valid = 1
        WHERE uset.valid = 1
          AND uset.id = #{id}
    </select>
    <!--根据测试任务id统计学生测试基本信息-->
    <select id="getStudentExaminationStatistics"
            resultType="com.ky.ulearning.spi.teacher.vo.StudentExaminationStatisticsVo">
        SELECT max(everyTotalScore) AS highestScore,
               min(everyTotalScore) AS lowestScore,
               avg(everyTotalScore) AS averageScore
        FROM (
                 SELECT uset.id,
                        sum(uer.student_score) everyTotalScore
                 FROM u_student_examination_task uset
                          LEFT JOIN u_examination_result uer ON uset.id = uer.examining_id AND uer.valid = 1
                 WHERE uset.valid = 1
                   AND uset.examining_state = 2
                   AND uset.examination_task_id = #{examinationTaskId}
                 GROUP BY uset.id
             ) AS examination_result_count
    </select>
    <!--根据测试任务id查询各个状态的学生数量-->
    <select id="getExaminationStatus"
            resultType="com.ky.ulearning.spi.teacher.vo.ExaminationStatusVo">
        SELECT examining_state AS resultType,
               count(1)        AS stuNumber
        FROM u_student_examination_task
        WHERE valid = 1
          AND examination_task_id = #{examinationTaskId}
        GROUP BY examining_state
    </select>
    <!--根据测试任务id查询所有已测试结束的学生id-->
    <select id="getIdByExaminationTaskId" resultType="java.lang.Long">
        SELECT id
        FROM u_student_examination_task
        WHERE valid = 1
          AND examination_task_id = #{examinationTaskId}
          AND examining_state = 2
    </select>
    <!--分页查询学生测试结果-->
    <select id="pageStudentExaminationResultList"
            resultType="com.ky.ulearning.spi.teacher.vo.StudentExaminationResultVo">
        SELECT uset.id AS examiningId,
        uset.examining_state_switch_time AS examiningStateSwitchTime,
        us.stu_number AS stuNumber,
        us.stu_name AS stuName,
        us.stu_dept AS stuDept
        FROM u_student_examination_task uset
        INNER JOIN u_student us ON uset.stu_id = us.id AND us.valid = 1
        WHERE uset.valid = 1
        AND uset.examination_task_id = #{studentExaminationResultVo.examinationTaskId}
        <if test="studentExaminationResultVo.stuName != null and studentExaminationResultVo.stuName != ''">
            AND us.stu_name LIKE concat('%', #{studentExaminationResultVo.stuName}, '%')
        </if>
        <if test="studentExaminationResultVo.stuNumber != null and studentExaminationResultVo.stuNumber != ''">
            AND us.stu_number LIKE concat('%', #{studentExaminationResultVo.stuNumber}, '%')
        </if>
        <if test="studentExaminationResultVo.stuDept != null and studentExaminationResultVo.stuDept != ''">
            AND us.stu_dept LIKE concat('%', #{studentExaminationResultVo.stuDept}, '%')
        </if>
        <if test="studentExaminationResultVo.examiningStateSwitchTime != null">
            AND date(uset.examining_state_switch_time) = #{studentExaminationResultVo.examiningStateSwitchTime}
        </if>
        ORDER BY uset.examining_state_switch_time DESC
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询学生测试结果 - 总记录数-->
    <select id="countPageStudentExaminationResultList" resultType="java.lang.Integer">
        SELECT count(1)
        FROM u_student_examination_task uset
        INNER JOIN u_student us ON uset.stu_id = us.id AND us.valid = 1
        WHERE uset.valid = 1
        AND uset.examination_task_id = #{studentExaminationResultVo.examinationTaskId}
        <if test="studentExaminationResultVo.stuName != null and studentExaminationResultVo.stuName != ''">
            AND us.stu_name LIKE concat('%', #{studentExaminationResultVo.stuName}, '%')
        </if>
        <if test="studentExaminationResultVo.stuNumber != null and studentExaminationResultVo.stuNumber != ''">
            AND us.stu_number LIKE concat('%', #{studentExaminationResultVo.stuNumber}, '%')
        </if>
        <if test="studentExaminationResultVo.stuDept != null and studentExaminationResultVo.stuDept != ''">
            AND us.stu_dept LIKE concat('%', #{studentExaminationResultVo.stuDept}, '%')
        </if>
        <if test="studentExaminationResultVo.examiningStateSwitchTime != null">
            AND date(uset.examining_state_switch_time) = #{studentExaminationResultVo.examiningStateSwitchTime}
        </if>
    </select>
    <!--根据测试任务id查询学生测试基本信息-->
    <select id="getBaseInfoByExaminationTaskId"
            resultType="com.ky.ulearning.spi.student.vo.StudentExaminationTaskBaseInfoVo">
        SELECT uset.id,
               coalesce(sum(uer.student_score), 0) AS stuTotalScore
        FROM u_student_examination_task uset
                 INNER JOIN u_examination_result uer ON uset.id = uer.examining_id AND uer.valid = 1
        WHERE uset.valid = 1
          AND uset.examining_state = 2
          AND uset.examination_task_id = #{examinationTaskId}
        GROUP BY uset.id
        ORDER BY stuTotalScore DESC
    </select>
</mapper>
