<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.teacher.dao.StudentTeachingTaskDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.teacher.entity.StudentTeachingTaskEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="teaching_task_id" jdbcType="BIGINT" property="teachingTaskId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            teaching_task_id,
            stu_id,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <!--删除关联信息-->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM u_student_teaching_task
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <!--插入关联信息-->
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.ky.ulearning.spi.teacher.dto.StudentTeachingTaskDto" useGeneratedKeys="true">
        INSERT INTO u_student_teaching_task (teaching_task_id, stu_id, `valid`,
                                             memo, create_time, create_by,
                                             update_time, update_by)
        VALUES (#{teachingTaskId,jdbcType=BIGINT}, #{stuId,jdbcType=BIGINT}, 1,
                #{memo,jdbcType=VARCHAR}, now(), #{createBy,jdbcType=VARCHAR},
                now(), #{updateBy,jdbcType=VARCHAR})
    </insert>
    <!--分页查询选课学生信息-->
    <select id="listPage" resultMap="com.ky.ulearning.teacher.dao.StudentDao.BaseResultMap">
        SELECT us.id,
        us.stu_number,
        us.stu_name,
        us.stu_password,
        us.stu_gender,
        us.stu_dept,
        us.stu_class,
        us.stu_phone,
        us.stu_email,
        us.stu_photo,
        us.last_login_time,
        us.valid,
        us.memo,
        us.create_time,
        us.create_by,
        us.update_time,
        us.update_by
        FROM u_student_teaching_task ustt
        INNER JOIN u_student us ON us.valid = 1 AND ustt.stu_id = us.id
        INNER JOIN u_teaching_task utt ON utt.valid = 1 AND ustt.teaching_task_id = utt.id
        WHERE ustt.valid = 1
        AND utt.id = #{teachingTaskId}
        <if test="studentDto.stuNumber != null and studentDto.stuNumber != ''">
            AND stu_number LIKE CONCAT('%', #{studentDto.stuNumber}, '%')
        </if>
        <if test="studentDto.stuName != null and studentDto.stuName != ''">
            AND stu_name LIKE CONCAT('%', #{studentDto.stuName}, '%')
        </if>
        <if test="studentDto.stuGender != null and studentDto.stuGender != ''">
            AND stu_gender = #{studentDto.stuGender}
        </if>
        <if test="studentDto.stuDept != null and studentDto.stuDept != ''">
            AND stu_dept = #{studentDto.stuDept}
        </if>
        <if test="studentDto.stuClass != null and studentDto.stuClass != ''">
            AND stu_class = #{studentDto.stuClass}
        </if>
        <if test="studentDto.stuPhone != null and studentDto.stuPhone != ''">
            AND stu_phone LIKE CONCAT('%', #{studentDto.stuPhone}, '%')
        </if>
        <if test="studentDto.stuEmail != null and studentDto.stuEmail != ''">
            AND stu_email LIKE CONCAT('%', #{studentDto.stuEmail}, '%')
        </if>
        ORDER BY ustt.update_time DESC
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询选课学生信息 - 总记录数-->
    <select id="countListPage" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM u_student_teaching_task ustt
        INNER JOIN u_student us ON us.valid = 1 AND ustt.stu_id = us.id
        INNER JOIN u_teaching_task utt ON utt.valid = 1 AND ustt.teaching_task_id = utt.id
        WHERE ustt.valid = 1
        AND utt.id = #{teachingTaskId}
        <if test="studentDto.stuNumber != null and studentDto.stuNumber != ''">
            AND stu_number LIKE CONCAT('%', #{studentDto.stuNumber}, '%')
        </if>
        <if test="studentDto.stuName != null and studentDto.stuName != ''">
            AND stu_name LIKE CONCAT('%', #{studentDto.stuName}, '%')
        </if>
        <if test="studentDto.stuGender != null and studentDto.stuGender != ''">
            AND stu_gender = #{studentDto.stuGender}
        </if>
        <if test="studentDto.stuDept != null and studentDto.stuDept != ''">
            AND stu_dept = #{studentDto.stuDept}
        </if>
        <if test="studentDto.stuClass != null and studentDto.stuClass != ''">
            AND stu_class = #{studentDto.stuClass}
        </if>
        <if test="studentDto.stuPhone != null and studentDto.stuPhone != ''">
            AND stu_phone LIKE CONCAT('%', #{studentDto.stuPhone}, '%')
        </if>
        <if test="studentDto.stuEmail != null and studentDto.stuEmail != ''">
            AND stu_email LIKE CONCAT('%', #{studentDto.stuEmail}, '%')
        </if>
    </select>
    <!--根据教学任务id查询学生id集合-->
    <select id="getStuIdSetByTeachingTaskId" resultType="java.lang.Long">
        SELECT stu_id
        FROM u_student_teaching_task
        WHERE valid = 1
        AND teaching_task_id IN
        <foreach collection="teachingTaskIdSet" separator="," item="teachingTaskId" open="(" close=")">
            #{teachingTaskId}
        </foreach>
    </select>
    <!--移除选课学生-->
    <update id="remove">
        UPDATE u_student_teaching_task
        SET valid = 0
        WHERE stu_id = #{studentTeachingTaskDto.stuId}
          AND teaching_task_id = #{studentTeachingTaskDto.teachingTaskId}
    </update>
    <!--根据教学任务id统计学生选课人数-->
    <select id="countByTeachingTaskId" resultType="java.lang.Integer">
        SELECT count(1)
        FROM u_student_teaching_task
        WHERE valid = 1
          AND teaching_task_id = #{teachingTaskId}
    </select>
    <!--根据教学任务id查询学生信息-->
    <select id="getStudentListByTeachingTaskId" resultType="com.ky.ulearning.spi.system.entity.StudentEntity">
        SELECT us.id, us.stu_email AS stuEmail, us.stu_phone AS stuPhone
        FROM u_student_teaching_task ustt
                 INNER JOIN u_student us ON ustt.stu_id = us.id AND us.valid = 1
        WHERE ustt.teaching_task_id = #{teachingTaskId}
        AND ustt.valid = 1
    </select>
</mapper>
