<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.ulearning.student.dao.CourseDocumentationDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.teacher.entity.CourseDocumentationEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="documentation_title" jdbcType="VARCHAR" property="documentationTitle"/>
        <result column="documentation_summary" jdbcType="VARCHAR" property="documentationSummary"/>
        <result column="documentation_category" jdbcType="SMALLINT" property="documentationCategory"/>
        <result column="documentation_shared" jdbcType="BOOLEAN" property="documentationShared"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
    </resultMap>
    <resultMap id="CourseFileDocumentationDtoMap" type="com.ky.ulearning.spi.teacher.dto.CourseFileDocumentationDto">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="documentation_title" jdbcType="VARCHAR" property="documentationTitle"/>
        <result column="documentation_summary" jdbcType="VARCHAR" property="documentationSummary"/>
        <result column="documentation_category" jdbcType="SMALLINT" property="documentationCategory"/>
        <result column="documentation_shared" jdbcType="BOOLEAN" property="documentationShared"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>

        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_size" jdbcType="BIGINT" property="fileSize"/>
        <result column="file_ext" jdbcType="VARCHAR" property="fileExt"/>
        <result column="file_type" jdbcType="SMALLINT" property="fileType"/>
        <result column="file_parent_id" jdbcType="BIGINT" property="fileParentId"/>
    </resultMap>
    <!--根据课程id和文件名查询文件资料对象-->
    <select id="getByCourseIdAndFileName" resultMap="CourseFileDocumentationDtoMap">
        SELECT ucd.id,
               ucd.documentation_title,
               ucd.documentation_summary,
               ucd.documentation_category,
               ucd.documentation_shared,
               ucd.valid,
               ucd.memo,
               ucd.create_time,
               ucd.create_by,
               ucd.update_time,
               ucd.update_by,
               ucf.id AS file_id,
               ucf.file_name,
               ucf.file_size,
               ucf.file_ext,
               ucf.file_type,
               ucf.file_parent_id
        FROM u_course_file ucf
                 INNER JOIN u_course_documentation ucd ON ucd.valid = 1 AND ucf.id = ucd.file_id
        WHERE ucf.valid = 1
          AND ucf.course_id = #{courseId}
          AND ucf.file_name = #{fileName}
    </select>
    <!--查询文件资料集合-->
    <select id="getList" resultMap="CourseFileDocumentationDtoMap"
            parameterType="com.ky.ulearning.spi.teacher.dto.CourseFileDocumentationDto">
        SELECT ucd.id,
        ucd.documentation_title,
        ucd.documentation_summary,
        ucd.documentation_category,
        ucd.documentation_shared,
        ucd.valid,
        ucd.memo,
        ucd.create_time,
        ucd.create_by,
        ucd.update_time,
        ucd.update_by,
        ucf.id AS file_id,
        ucf.file_name,
        ucf.file_size,
        ucf.file_ext,
        ucf.file_type,
        ucf.file_parent_id
        FROM u_course_file ucf
        INNER JOIN u_course_documentation ucd ON ucd.valid = 1 AND ucf.id = ucd.file_id
        WHERE ucf.valid = 1
        AND ucf.file_parent_id = #{fileParentId}
        <if test="documentationTitle != null and documentationTitle != ''">
            AND ucd.documentation_title LIKE CONCAT('%', #{documentationTitle} , '%')
        </if>
        <if test="documentationSummary != null and documentationSummary != ''">
            AND ucd.documentation_summary LIKE CONCAT('%', #{documentationSummary} , '%')
        </if>
        <if test="documentationCategory != null">
            AND ucd.documentation_category = #{documentationCategory}
        </if>
        <if test="documentationShared != null">
            AND ucd.documentation_shared = #{documentationShared}
        </if>
        <if test="fileName != null and fileName != ''">
            AND ucf.file_name LIKE CONCAT('%', #{fileName} , '%')
        </if>
        <if test="fileExt != null and fileExt != ''">
            AND ucf.file_ext LIKE CONCAT('%', #{fileExt} , '%')
        </if>
        <if test="fileType != null">
            AND ucf.file_type = #{fileType,jdbcType=INTEGER}
        </if>
    </select>
    <!--根据id查询文件资料-->
    <select id="getById" resultMap="CourseFileDocumentationDtoMap">
        SELECT ucd.id,
               ucd.documentation_title,
               ucd.documentation_summary,
               ucd.documentation_category,
               ucd.documentation_shared,
               ucd.valid,
               ucd.memo,
               ucd.create_time,
               ucd.create_by,
               ucd.update_time,
               ucd.update_by,
               ucf.id AS file_id,
               ucf.file_name,
               ucf.file_size,
               ucf.file_ext,
               ucf.file_type,
               ucf.file_parent_id
        FROM u_course_file ucf
                 INNER JOIN u_course_documentation ucd ON ucd.valid = 1 AND ucf.id = ucd.file_id
        WHERE ucf.valid = 1
          AND ucd.id = #{id}
    </select>
</mapper>
