<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ky.ulearning.student.dao.StudentExaminationTaskDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.student.entity.StudentExaminationTaskEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="examination_task_id" jdbcType="BIGINT" property="examinationTaskId"/>
        <result column="stu_id" jdbcType="BIGINT" property="stuId"/>
        <result column="examining_hostIP" jdbcType="VARCHAR" property="examiningHostIp"/>
        <result column="examining_login_time" jdbcType="TIMESTAMP" property="examiningLoginTime"/>
        <result column="examining_remain_time" jdbcType="SMALLINT" property="examiningRemainTime"/>
        <result column="examining_state" jdbcType="SMALLINT" property="examiningState"/>
        <result column="examining_state_switch_time" jdbcType="TIMESTAMP" property="examiningStateSwitchTime"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            examination_task_id,
            stu_id,
            examining_hostIP,
            examining_login_time,
            examining_remain_time,
            examining_state,
            examining_state_switch_time,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_student_examination_task
        WHERE valid = 1
        AND id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.ky.ulearning.spi.student.dto.StudentExaminationTaskDto" useGeneratedKeys="true">
        INSERT INTO u_student_examination_task (examination_task_id, stu_id, examining_hostIP,
                                                examining_login_time, examining_remain_time,
                                                examining_state, examining_state_switch_time,
                                                `valid`, memo, create_time,
                                                create_by, update_time, update_by)
        VALUES (#{examinationTaskId,jdbcType=BIGINT}, #{stuId,jdbcType=BIGINT}, #{examiningHostIp,jdbcType=VARCHAR},
                now(), #{examiningRemainTime,jdbcType=SMALLINT},
                1, now(),
                1, #{memo,jdbcType=VARCHAR}, now(),
                #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR})
    </insert>
    <update id="update"
            parameterType="com.ky.ulearning.spi.student.dto.StudentExaminationTaskDto">
        UPDATE u_student_examination_task
        <set>
            update_time = now(),
            <if test="examiningHostIp != null">
                examining_hostIP = #{examiningHostIp,jdbcType=VARCHAR},
            </if>
            <if test="examiningRemainTime != null">
                examining_remain_time = #{examiningRemainTime,jdbcType=SMALLINT},
            </if>
            <if test="examiningState != null">
                examining_state = #{examiningState,jdbcType=SMALLINT},
            </if>
            <if test="examiningStateSwitchTime != null">
                examining_state_switch_time = #{examiningStateSwitchTime,jdbcType=TIMESTAMP},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <!--根据测试任务id和学生id查询学生测试信息-->
    <select id="getByExaminationTaskIdAndStuId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_student_examination_task
        WHERE valid = 1
        AND examination_task_id = #{examinationTaskId}
        AND stu_id = #{stuId}
    </select>
    <!--根据id查询测试任务参数-->
    <select id="getExaminationParametersById" resultType="java.lang.String">
        SELECT uttet.examination_parameters
        FROM u_student_examination_task uset
                 INNER JOIN u_teaching_task_examination_task uttet
                            ON uset.examination_task_id = uttet.id AND uttet.valid = 1
        WHERE uset.valid = 1
          AND uset.id = #{id}
    </select>
    <!--根据测试任务id查询学生测试基本信息-->
    <select id="getBaseInfoByExaminationTaskId"
            resultType="com.ky.ulearning.spi.student.vo.StudentExaminationTaskBaseInfoVo">
        SELECT uset.id,
               coalesce(sum(uer.student_score), 0) AS stuTotalScore
        FROM u_student_examination_task uset
                 INNER JOIN u_examination_result uer ON uset.id = uer.examining_id AND uer.valid = 1
        WHERE uset.valid = 1
          AND uset.examining_state = 2
        GROUP BY uset.id
        ORDER BY stuTotalScore DESC
    </select>
</mapper>
