<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.ulearning.student.dao.TeachingTaskNoticeDao">
    <resultMap id="BaseResultMap" type="com.ky.ulearning.spi.teacher.entity.TeachingTaskNoticeEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="teaching_task_id" jdbcType="BIGINT" property="teachingTaskId"/>
        <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle"/>
        <result column="notice_content" jdbcType="VARCHAR" property="noticeContent"/>
        <result column="notice_attachment" jdbcType="VARCHAR" property="noticeAttachment"/>
        <result column="notice_shared" jdbcType="BOOLEAN" property="noticeShared"/>
        <result column="notice_post_time" jdbcType="TIMESTAMP" property="noticePostTime"/>
        <result column="notice_keywords" jdbcType="VARCHAR" property="noticeKeywords"/>
        <result column="valid" jdbcType="BOOLEAN" property="valid"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="notice_attachment_name" jdbcType="VARCHAR" property="noticeAttachmentName"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            teaching_task_id,
            notice_title,
            notice_content,
            notice_attachment,
            notice_shared,
            notice_post_time,
            notice_keywords,
            `valid`,
            memo,
            create_time,
            create_by,
            update_time,
            update_by,
            notice_attachment_name
    </sql>
    <!--分页查询通告内容-->
    <select id="listPage" resultMap="BaseResultMap">
        SELECT uttn.id,
        uttn.teaching_task_id,
        uttn.notice_title,
        uttn.notice_content,
        uttn.notice_attachment,
        uttn.notice_shared,
        uttn.notice_post_time,
        uttn.notice_keywords,
        uttn.valid,
        uttn.memo,
        uttn.create_time,
        uttn.create_by,
        uttn.update_time,
        uttn.update_by,
        uttn.notice_attachment_name
        FROM u_teaching_task_notice uttn
        INNER JOIN u_teaching_task utt ON utt.valid = 1 AND uttn.teaching_task_id = utt.id
        WHERE uttn.valid = 1
        AND uttn.teaching_task_id = #{teachingTaskId}
        ORDER BY uttn.notice_post_time desc
        <if test="pageParam.startIndex != null and pageParam.pageSize">
            LIMIT #{pageParam.startIndex}, #{pageParam.pageSize}
        </if>
    </select>
    <!--分页查询通告内容 - 总记录数-->
    <select id="countListPage" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM u_teaching_task_notice uttn
                 INNER JOIN u_teaching_task utt ON utt.valid = 1 AND uttn.teaching_task_id = utt.id
        WHERE uttn.valid = 1
          AND uttn.teaching_task_id = #{teachingTaskId}
    </select>
    <!--根据教学任务id集合查询所有通告id集合-->
    <select id="getIdSetByTeachingTaskIdSet" resultType="java.lang.Long">
        SELECT id
        FROM u_teaching_task_notice
        WHERE valid = 1
        AND teaching_task_id IN
        <foreach collection="teachingTaskIdSet" item="teachingTaskId" separator="," open="(" close=")">
            #{teachingTaskId}
        </foreach>

    </select>
    <!--根据id查询通告信息-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM u_teaching_task_notice
        WHERE valid = 1
        AND id = #{id}
    </select>

</mapper>
